.pinpoint_section li:nth-child(2n+1){
  padding-bottom: 1%;
  color:red;
}

.pinpoint_section{
  padding-top:1%;
  padding-bottom: 1%;
}

.pinpoint_section,
.message_img_section{
  background-color:  rgba(3,3,3,0.6);
  //min-height: 720px;
}     // TODO: here will be a min-height (mediaQuery needed)

.message_img_section {
  padding:3%;
}
