.pinpoint li:nth-child(2n+1){
  padding-bottom: 1%;
  color:red;
  //font-weight: lighter;
}

.xyz{
  background-color :pink ;
}

// todo .PINPOINT CLASS: Maybe I should make a MIN HEIGHT for Large Screen etc. Becouse if there is a "INCORRECT NIP" message the view is changing his size.