.App {
  text-align: center;
  margin: 10% auto  ;
  width: 53%;
  padding:0 5% 7%;
}

.App-header {
  background-color: rgba(0,0,0,1);
  height: 100%;
  padding: 5%;
  margin-bottom: 5%;
}

.App-title {
  font-size: x-large;
}

