.App {
  text-align: center;
  margin: 10% auto  ;
  width: 50%;
  background-color: silver;     // change to black
}

.App-header {
  background-color: #222;     // delete
  height: 100%;
  padding: 5%;
  color: white;
}

.App-title {
  font-size: x-large;
}

